<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div class="table-responsive">
            <table class="datatable table table-hover table-center mb-0">
                <thead>
                    <tr>
                        <th>Patient ID</th>
                        <th>Patient Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Last Visit</th>
                        <th class="text-right">Paid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#PT001</td>
                        <td>
                            <h2 class="table-avatar">
                                <a routerLink="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient1.jpg" ></a>
                                <a routerLink="profile.html">Charlene Reed </a>
                            </h2>
                        </td>
                        <td>29</td>
                        <td>4417  Goosetown Drive, Taylorsville, North Carolina, 28681</td>
                        <td>8286329170</td>
                        <td>20 Oct 2019</td>
                        <td class="text-right">$100.00</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
