<div class="admin-layout mt-2">
  <div class="profile-container">
    <!-- Add Tab Navigation -->
    <div class="d-flex flex-row">
      <div class="profile-tabs">
        <div class="">
          <ul
            class="nav nav-tabs d-flex flex-column"
            *ngIf="
              authService.getUserRole() == 'Admin' ||
              authService.getUserRole() == 'Master' ||
              authService.getUserRole() == 'Owner'
            "
          >
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/admin/admin-dashboard"
                routerLinkActive="active"
              >
                <i class="fa fa-folder"></i> Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/MyAppointments"
                routerLinkActive="active"
              >
                <i class="fa fa-folder"></i> Appointments
              </a>
            </li>
            <li class="nav-item submenu">
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                href="#Clinics"
                role="button"
                aria-expanded="false"
                aria-controls="Clinics"
              >
                <i class="fas fa-list"></i>
                Clinic
              </a>
              <div class="collapse" id="Clinics">
                <li>
                  <a
                    routerLink="departments"
                    routerLinkActive="active"
                    class="ps-5 nav-link"
                  >
                    <i class="fa fa-certificate"></i>
                    Departments
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="ps-5 nav-link"
                    routerLink="allemployees"
                    routerLinkActive="active"
                  >
                    <i class="fa fa-certificate"></i>
                    Employees
                  </a>
                </li>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="admin/doctors"
                routerLinkActive="active"
              >
                <i class="fa fa-briefcase"></i> Doctors
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/admin/patients"
                routerLinkActive="active"
              >
                <i class="fa fa-user"></i>
                Patients
              </a>
            </li>

            <li class="nav-item submenu">
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                href="#Reports"
                role="button"
                aria-expanded="false"
                aria-controls="Reports"
              >
                <i class="fas fa-list"></i>
                Reports
              </a>
              <div class="collapse" id="Reports">
                <li>
                  <a
                    routerLink="/admin/invoices"
                    routerLinkActive="active"
                    class="ps-5 nav-link"
                  >
                    <i class="fa fa-certificate"></i>
                    Invoice
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="ps-5 nav-link"
                    routerLink="transactions"
                    routerLinkActive="active"
                  >
                    <i class="fa fa-certificate"></i>
                    Transactions
                  </a>
                </li>
              </div>
            </li>

            <!-- <li class="nav-item submenu">
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                role="button"
                aria-expanded="false"
                aria-controls="Inventory"
                href="#Inventory"
              >
                <i class="fa fa-certificate"></i>
                Inventory
              </a>
              <div class="collapse" id="Inventory">
                <li class="nav-item">
                  <a
                    class="ps-5 nav-link"
                    routerLink="/admin/inventorycategories"
                    routerLinkActive="active"
                  >
                    <i class="fa fa-certificate"></i> Categories
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="ps-5 nav-link"
                    routerLink="/admin/inventoryitmes"
                    routerLinkActive="active"
                  >
                    <i class="fa fa-certificate"></i> Items
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="ps-5 nav-link"
                    routerLink="/admin/inventorytransactions"
                    routerLinkActive="active"
                  >
                    <i class="fa fa-certificate"></i> Inventory Transactions
                  </a>
                </li>
              </div>
            </li> -->
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="inventory"
                routerLinkActive="active"
              >
                <i class="fa fa-user"></i>
                Inventory
              </a>
            </li>
            <!-- <li class="nav-item">
              <a
                class="nav-link"
                [class.active]="activeTab === 'reviews'"
                (click)="setActiveTab('reviews')"
              >
                <i class="fa fa-user"></i>
                Reviews
              </a>
            </li> -->
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/admin/admin-data-management"
                routerLinkActive="active"
              >
                <i class="fa fa-user"></i> Admin data management
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- <div class="container col-9">
      <div class="row">

        <div class="col-lg-12">
          <div *ngIf="activeTab === 'admin-dashboard'">
            <app-master-dashboadr></app-master-dashboadr>
          </div>

          <div *ngIf="activeTab === 'appointments'">
            <app-appointment-list></app-appointment-list>
             <app-patient-appointments></app-patient-appointments>
          </div>

          <div *ngIf="activeTab === 'doctors'">
            <app-doctor-list></app-doctor-list>
          </div>

          <div *ngIf="activeTab === 'patients'">
            <app-patient-list></app-patient-list>
          </div>

          <div *ngIf="activeTab === 'transactions'">
            <app-transactions-list></app-transactions-list>
          </div>

          <div *ngIf="activeTab === 'categories'">
            <app-inventory-category></app-inventory-category>
          </div>

          <div *ngIf="activeTab === 'items'">
            <app-inventory-items></app-inventory-items>
          </div>

          <div *ngIf="activeTab === 'inventorytransactions'">
            <app-inventory-transactions></app-inventory-transactions>
          </div>

          <div *ngIf="activeTab === 'reviews'">
            <app-review-list></app-review-list>
          </div>

          <div *ngIf="activeTab === 'invoices'">
            <app-invoice-list></app-invoice-list>
          </div>

          <div *ngIf="activeTab === 'admin-data-management'">
            <app-admin-data-management></app-admin-data-management>
          </div>
        </div>
      </div>
      </div> -->
    </div>
  </div>
</div>
